
body {
  font-family: 'Droid Sans', sans-serif;
}

.container {
  max-width: 1000px;
}

#standard-brand {
  display: none;
}

@media(min-width:1000px) {
  #mobile-brand {
    display: none;
  }
  #standard-brand {
    display: block;
  }
}

#standard-brand a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #F77F00;
}
